{% extends "base/base.html" %}

{% block start %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Unlock the World of Words</h1>
            <p class="lead fw-normal text-white-50 mb-0">Your Online Bookstore Haven!</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <ul class="btn btn-outline-dark mt-auto ">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Genre</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/">All Books</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                {% for genre in genres %}
                <li><a class="dropdown-item" href="{% url 'filter_by_genre' genre.id %}">{{ genre.name }}</a></li>
                {% endfor %}
            </ul>
        </ul>



        <div style="float: right;">

            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown">Sort Down</button>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="dropdown-item" href="{% url 'sort_by' '-title' %}">Title</a></li>
                    <li><a class="dropdown-item" href="{% url 'sort_by' '-author' %}">Author</a></li>
                    <li><a class="dropdown-item" href="{% url 'sort_by' '-genre' %}">Genre</a></li>
                </ul>
            </div>
        </div>

        <div style="float: right; margin-right: 20px;">

            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">Sort Up</button>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="dropdown-item" href="{% url 'sort_by' 'title' %}">Title</a></li>
                    <li><a class="dropdown-item" href="{% url 'sort_by' 'author' %}">Author</a></li>
                    <li><a class="dropdown-item" href="{% url 'sort_by' 'genre' %}">Genre</a></li>
                </ul>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for book in books %}
            <div class="col mb-5" onclick='location.href="/books/{{book.slug}}";'>
                <div class="card h-100">
                    <!-- Sale badge-->
                    {% if book.available_quantity == 0 %}
                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Out of
                        Stock
                    </div>
                    {% elif book.available_quantity <= 50 %} <div class="badge bg-warning text-black position-absolute"
                        style="top: 0.5rem; right: 0.5rem">Limited Stock
                </div>
                {% else %}
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">In Stock
                </div>
                {% endif %}
                <!-- Product image-->
                <img class="card-img-top" src="/media/{{ book.image }}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{ book.title }}</h5>

                        {{ book.author }}
                        <br><br>
                        <!-- Product price-->
                        <h5 class="fw-bolder">${{ book.price }}</h5>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</section>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if books.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ books.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>      
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>      
          </li>
          {% endif %}
          {% for i in books.paginator.page_range %}
          {% if i == books.number %}
          <li class="page-item active"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>

          {% endif %}
            {% endfor %}
          {% if books.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ books.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}