{% extends "base/base.html" %}

{% block start %}
<form method="post" action="{% url 'order' cart.id %}">
    {% csrf_token %}
    <div class="container">

        <div class="row">
            <main class="col-md-9">

                {% include "base/alert.html" %}

                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Available</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart.cart_items.all %}

                            <tr>
                                <td>
                                    <div class="info">
                                        <p class="title text-dark">{{ item.book.title }}</p>
                                        <p class="text-muted small">Author: {{ item.book.author }}</p>
                                    </div>

                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <p class="title text-dark">{{ item.book.available_quantity }}</p>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td>
                                    <input name="quantity" type="text" class="form-control" value="{{ item.quantity }}">
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">${{ item.get_item_total }}</var><br>
                                        <small class="text-muted"> ${{ item.book.price }} each </small>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td class="text-right">
                                    
                                    <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-outline-dark mt-auto"> Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div> <!-- card.// -->

                <div class="alert alert-success mt-3">
                    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks
                    </p>
                </div>

            </main> <!-- col.// -->
            <aside class="col-md-3">

                <div class="card">
                    <div class="card-body">

                        <dl class="dlist-align">
                            <dd><strong>Cart Summary:</strong></dd>
                            <dd>Total Items:<strong> {{cart.cart_items.all.count}}</strong></dd>
                            <dd>Grand Total: <strong>${{cart.get_cart_total}}</strong></dd>
                        </dl>
                        <dl class="dlist-align">
                            <button type="submit" class="btn btn-dark mt-auto float-md-right"> Make Purchase <i
                                    class="fa fa-chevron-right"></i> </a>
                        </dl>
                        <hr>
                    </div> <!-- card-body.// -->
                </div> <!-- card .// --><br>

                <a href="{% url 'remove_all_from_cart' cart.id %}" class="btn btn-danger">Empty Cart</a>
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</form>
{% endblock %}