{% extends "base/base.html" %}


{% block start %}

<form method="post">
    {% csrf_token %}


    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign in</h4>
            <form>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                    {{message}}
                </div>

                {% endfor %}
                {% endif %}
                
                <div class="form-group">
                    <input name="username" class="form-control" required placeholder="Username" type="text">
                </div> <!-- form-group// --><br>
                <div class="form-group">
                    <input name="password" class="form-control" required placeholder="Password" type="password">
                </div> <!-- form-group// --><br>


                <div class="form-group">
                    <a href="#" class="float-right">Forgot password?</a>
                    <label class="float-left custom-control custom-checkbox"> <input type="checkbox"
                            class="custom-control-input" checked="">
                        <div class="custom-control-label"> Remember Me </div>
                    </label>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Don't have account? <a href="/accounts/signup">Sign Up</a></p>
    <br><br>
</form>

{% endblock %}