{% extends "base/base.html" %}


{% block start %}
<form method="post">
    {% csrf_token %}


    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign Up</h4>
            <form>
                {% include "base/alert.html" %}
                <div class="form-group">
                    <input name="email" class="form-control" required value="{{email}}" placeholder="Email" type="email">
                </div> <!-- form-group// --><br>
                <div class="form-group">
                    <input name="username" class="form-control" required value="{{username}}" placeholder="Username" type="text">
                </div> <!-- form-group// --><br>
                <div class="form-group">
                    <input name="password" class="form-control" required value="{{password}}" placeholder="Password" type="password">
                </div> <!-- form-group// --><br>


                <div class="form-group">
                    <div class="form-check">
                        
                        <a href="{% url 'forgot_password' %}" style="float: right; clear: right;">Forgot password?</a>
                    </div>                  
                    </label>
                </div> <!-- form-group form-check .// --><br>
                <div class="form-group" style="text-align: center;">
                    <button type="submit" class="btn btn-dark mt-auto btn-block">Sign Up</button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Already have account? <a href="/accounts/login">Login</a></p>
    <br><br>
</form>

{% endblock %}