{% extends "base/base.html" %}

{% block start %}

{% include "base/alert.html" %}
<div class="row gx-4 gx-lg-5 align-items-center">

    <div class="col-md-6"><img style="height: 30vw; width: auto; padding-left: 200px; padding-bottom: 20px;" class="card-img-top mb-5 mb-md-0" src="/media/{{book.image}}" alt="..."></div>
    <div class="col-md-6">
        <h1 class="display-5 fw-bolder">{{book.title}}</h1>
        <div class="fs-5 mb-5">
            <span>by: {{book.author}}</span>
        </div>

        <p class="lead">Virgil Abloh’s Off-White is a streetwear-inspired collection that continues to break away
            from the conventions of mainstream fashion. Made in Italy, these black and brown
            Odsy-1000 low-top sneakers.</p>
        <div class="fs-5">
            <span>In Stock : {{book.available_quantity}}</span>
        </div>
        <div class="fs-5 mb-5">
            <span><strong>${{book.price}}</strong></span>
        </div>
        <form action="{% url 'add_to_cart' book.id %}" method="post">
            {% csrf_token %}
            <div class="d-flex">
                <input name="quantity" class="form-control text-center me-3" id="inputQuantity" min="1" max="{{book.available_quantity}}" type="number" value="1"
                    style="max-width: 10rem">
                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Add to cart
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}